<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/49b2038d80.css">
    <link rel="stylesheet" href="../static/js/jquery-3.6.0.min.js">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#"><h2>J2K <i class="fa fa-photo"></i></h2></a>
        </div>
        <div class="nav-toggle">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="navbar">
            <li> <a href="">Services</a></li>
            <li><a href="">Works</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Book</a></li>
        </nav>
        <div class="design">
            <div class="hire">
                Hire Us <i class="fa fa-arrow-right"></i>
            </div>
            <div class="transparent">
                
            </div>
        </div>
    </header>

    <div class="sidebar">
        <i class="fa fa-times"></i>
        <div class="mobilenav">
            <a href="#">Services</a>
            <a href="#">Works</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Book</a>
        </div>
    </div>

    <main>
        
    </main>
    <footer>

    </footer>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
</body>
</html>